*{
    padding: 0;
    margin: 0;
}

header{
    padding-top: 20px;
    height: 40px;
    background-color: #ccc;
    width: 100%;
}

nav{
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    /* padding: 0 10px; */
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

nav a:hover, nav .active{
    background-color: #000;
    color: #fff;
}


.container{
    /* width: 100%; */
    /* padding: 0 100px; */
    width: 800px;
    margin: auto;
    height: 300px;
    /* border: 10px solid black; */
}

form{
    width: 500px;
    background-color: #ccc;
    margin: auto;
}

footer{
    height: 100px;
    background-color: #ccc;
    width: 100%;
    text-align: center;
}